.git
.github
.vscode
.idea
archive
docs
tools
README.md

**/node_modules
**/.next
**/dist
**/build
**/coverage
**/*.log
**/*.tmp
**/*.tsbuildinfo
**/.generated
**/tmp
**/temp
**/uploads

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
